* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgb(17, 17, 17);
}

button {
  font-size: 1rem;
  padding: 1em 2em;
  letter-spacing: 0.1rem;
  background-color: rgb(141, 19, 141);
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 0.1rem;
  cursor: pointer;
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
}

button .circle {
  position: absolute;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
